<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1><center>GRIVANCE</center></h1>
    {% include 'link.html' %}
    <center><h5><p> a cause of distress (as an unsatisfactory working condition or unfair labor practice)
         felt to afford a reason for complaint or dispute. especially : 
        a violation of a collective bargaining agreement usually by the employer.</p></h5></center>
        <center><img src='grievance.jpg'height='200px' width='400px'></img></center>
</body>
</html>